@using WebAPI_Project_PRN231.DTO;
@model List<ProductDTO>
@{
    Layout = "";
    List<ColorDTO> listColor = (List<ColorDTO>)ViewBag.listColor;
    List<RamDTO> listRam = (List<RamDTO>)ViewBag.listRam;
    List<SizeDTO> listSize = (List<SizeDTO>)ViewBag.Size;
    List<CategoryDTO> listCategory = (List<CategoryDTO>)ViewBag.listCategory;
    List<BrandDTO> listBrand = (List<BrandDTO>)ViewBag.listBrand;
    string token = Context.Session.GetString("token");
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin <sup>Quang Trần</sup></div>
            </a>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Dashboard
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/Management/Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Product Management</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div style="display:flex; align-items:center">
                            <a href="/Home/Index" style="font-size: 18px; font-weight: bold;">Trang Review Sản phẩm</a>
                        </div>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #3d414f; border-radius: 50px;">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color: #ffbaba !important">Douglas McGee</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/User/Logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Product List</h6>
                        </div>
                        <div class="card-body">                          
                            <div class="table-responsive">
                                <button type="button" class="btn btn-primary" style="margin-bottom: 20px" onclick="addProduct()">
                                    Add Product
                                </button>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Category</th>
                                            <th>Brand</th>
                                            <th>ProductName</th>
                                            <th>Color</th>
                                            <th>Size</th>
                                            <th>RAM</th>
                                            <th>UnitPrice</th>
                                            <th>UnitSellPrice</th>
                                            <th>UnitInStock</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr id="prod-@item.ProductId">
                                                <td class="prod-id">@item.ProductId</td>
                                                <td class="cat-name">@item.Category.CategoryName</td>
                                                <td class="brand-name">@item.Brand.BrandName</td>
                                                <td class="prod-name">@item.ProductName</td>
                                                <td class="color-name" color-value="@item.Color.ColorId">@item.Color.ColorName</td>
                                                <td class="size-size" size-value="@item.Size.SizeId">@item.Size.Size1</td>
                                                <td class="ram-size" ram-value="@item.Ram.RamId">@item.Ram.RamSize</td>
                                                <td class="price">@item.UnitPrice</td>
                                                <td class="sell-price">@item.UnitSellPrice</td>
                                                <td class="instock">@item.UnitInStock</td>
                                                <td class="des" des-value="@item.Description">@(item.Description.Length > 100 ? item.Description.Substring(0, 100) + " ..." : item.Description)</td>
                                                <td>
                                                    <a href="javascript:void(0)" onclick="editModal(@item.ProductId)">Edit | </a>
                                                    <a href="javascript:void(0)" id="hide-prod-@item.ProductId" hide-value="@(item.IsActive == true ? 0 : 1)" onclick="hideProduct(@item.ProductId)">@(item.IsActive == true ? "Hide" : "Active") </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/User/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Infor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="prod-id"/>
                    <div class="form-group add-prod-field" style="display:none">
                        <label>Category:</label>
                        <select class="form-control" id="add-category">
                            @foreach (var item in listCategory)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group add-prod-field" style="display: none">
                        <label>Brand:</label>
                        <select class="form-control" id="add-brand">
                            @foreach (var item in listBrand)
                            {
                                <option value="@item.BrandId">@item.BrandName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ProductName:</label>
                        <input type="text" class="form-control" id="update-prod-name">
                    </div>                    
                    <div class="form-group">
                        <label>Color:</label>
                        <select class="form-control" id="update-color">
                            @foreach (var item in listColor)
                            {
                                <option value="@item.ColorId">@item.ColorName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Size (inch):</label>
                        <select class="form-control" id="update-size">
                            @foreach (var item in listSize)
                            {
                                <option value="@item.SizeId">@item.Size1</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>RAM (GB):</label>
                        <select class="form-control" id="update-ram">
                            @foreach (var item in listRam)
                            {
                                <option value="@item.RamId">@item.RamSize</option>
                            }
                        </select>
                    </div>
                    <div class="form-group add-prod-field" style="display: none">
                        <label class="col-form-label">UnitPrice:</label>
                        <input type="number" class="form-control" id="add-price" min="1">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">UnitSellPrice:</label>
                        <input type="number" class="form-control" id="update-sellprice" min="1">
                    </div> 
                    <div class="form-group">
                        <label class="col-form-label">UnitInStock:</label>
                        <input type="number" class="form-control" id="update-instock" min="1">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description:</label>
                        <textarea class="form-control" id="update-des"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="submit-button" class="btn btn-primary" onclick="saveProduct()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>
    <script>
        function editModal(prodId){
            $("#prod-id").val(prodId);

            var prodName = $("#prod-" + prodId).find("td.prod-name").text();
            var color = $("#prod-" + prodId).find("td.color-name").attr("color-value");
            var size = $("#prod-" + prodId).find("td.size-size").attr("size-value");
            var ram = $("#prod-" + prodId).find("td.ram-size").attr("ram-value");
            var sellPrice = $("#prod-" + prodId).find("td.sell-price").text();
            var instock = $("#prod-" + prodId).find("td.instock").text();
            var description = $("#prod-" + prodId).find("td.des").attr("des-value");

            $("#update-prod-name").val(prodName);
            $("#update-color").val(color);
            $("#update-size").val(size);
            $("#update-ram").val(ram);
            $("#update-sellprice").val(sellPrice);
            $("#update-instock").val(instock);
            $("#update-des").val(description);

            $(".add-prod-field").css("display", "none");

            $("#submit-button").text("Update");
            $("#editModal").modal("show");
        }

        function addProduct(){
            $("#prod-id").val(0);
            $("#update-prod-name").val("");
            $("#update-color").val($("#update-color option:first").val());
            $("#update-size").val($("#update-size option:first").val());
            $("#update-ram").val($("#update-ram option:first").val());

            $("#add-category").val($("#add-category option:first").val());
            $("#add-brand").val($("#add-brand option:first").val());
            $("#add-price").val("");

            $("#update-sellprice").val("");
            $("#update-instock").val("");
            $("#update-des").val("");

            $(".add-prod-field").css("display","block");

            $("#submit-button").text("Create");
            $("#editModal").modal("show");
        }

        function saveProduct(){      
            var prodId = $("#prod-id").val();

            if (!validateProd(prodId)){
                return;
            }

            if(prodId > 0){
                var model = {
                    ProductId: prodId,
                    ProductName: $("#update-prod-name").val(),
                    ColorId: $("#update-color").val(),
                    SizeId: $("#update-size").val(),
                    RamId: $("#update-ram").val(),
                    UnitSellPrice: $("#update-sellprice").val(),
                    UnitInStock: $("#update-instock").val(),
                    Description: $("#update-des").val()
                }
                //Update
                $.ajax({
                    url: 'http://localhost:5216/api/Products/Update',
                    method: 'POST',
                    data: JSON.stringify(model),
                    contentType: 'application/json; charset=utf-8',
                    headers: { "Authorization": "Bearer " + '@token' },
                    success: function (product) {
                        var des = product["description"].substring(0, 100);
                        $("#prod-" + prodId).find("td.prod-name").text(product["productName"]);

                        $("#prod-" + prodId).find("td.color-name").attr("color-value", product["colorId"]);
                        $("#prod-" + prodId).find("td.color-name").text($("#update-color option:selected").text());

                        $("#prod-" + prodId).find("td.size-size").attr("size-value", product["sizeId"]);
                        $("#prod-" + prodId).find("td.size-size").text($("#update-size option:selected").text());

                        $("#prod-" + prodId).find("td.ram-size").attr("ram-value", product["ramId"]);
                        $("#prod-" + prodId).find("td.ram-size").text($("#update-ram option:selected").text());

                        $("#prod-" + prodId).find("td.sell-price").text(product["unitSellPrice"]);
                        $("#prod-" + prodId).find("td.instock").text(product["unitInStock"]);

                        $("#prod-" + prodId).find("td.des").attr("des-value", product["description"]);
                        $("#prod-" + prodId).find("td.des").text(des + " ...");

                        $("#editModal").modal("hide");
                        Swal.fire('Thông báo', "Update thành công sản phẩm ID = " + prodId, 'success');
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        Swal.fire('Thông báo', "Có lỗi xảy ra", 'error');
                    }
                });
            }else{
                //Create
                var model = {
                    ProductId: prodId,
                    ProductName: $("#update-prod-name").val(),
                    ColorId: $("#update-color").val(),
                    SizeId: $("#update-size").val(),
                    RamId: $("#update-ram").val(),
                    UnitSellPrice: $("#update-sellprice").val(),
                    UnitInStock: $("#update-instock").val(),
                    Description: $("#update-des").val(),
                    CategoryId: $("#add-category").val(),
                    BrandId: $("#add-brand").val(),
                    UnitPrice: $("#add-price").val()
                }

                $.ajax({
                    url: 'http://localhost:5216/api/Products/Create',
                    method: 'POST',
                    data: JSON.stringify(model),
                    contentType: 'application/json; charset=utf-8',
                    headers: { "Authorization": "Bearer " + '@token' },
                    success: function (product) {
                        var table = $('#dataTable').DataTable();
                        var newRow = $('<tr id="prod-' + product["productId"]+ '">');
                        var prodId = $('<td class="prod-id">').text(product["productId"]);
                        var prodName = $('<td class="prod-name">').text(product["productName"]);
                        var prodColor = $('<td class="color-name" color-value = "' + product["colorId"] + '">').text($("#update-color option:selected").text());
                        var prodSize = $('<td class="size-size" size-value="' + product["sizeId"] + '">').text($("#update-size option:selected").text());
                        var prodRam = $('<td class="ram-size" ram-value="' + product["ramId"] + '">').text($("#update-ram option:selected").text());
                        var prodPrice = $('<td class="price">').text(product["unitPrice"]);
                        var prodSell = $('<td class="sell-price">').text(product["unitSellPrice"]);
                        var prodInstock = $('<td class="instock">').text(product["unitInStock"]);
                        var prodDes = $('<td class="des" des-value="' + product["description"] + '">').text(product["description"].length > 100 ? product["description"].substring(0, 100) : product["description"]);
                        var prodCat = $('<td class="cat-name">').text($("#add-category option:selected").text());
                        var prodBrand = $('<td class="brand-name">').text($("#add-brand option:selected").text());
                        var action = $('<td>').append('<a href="javascript:void(0)" onclick="editModal(' + product["productId"] + ')">Edit | </a><a id="hide-prod-' + product["productId"] + '" href="javascript:void(0)" hide-value="0" onclick="hideProduct(' + product["productId"] + ')">Hide</a>')
                        newRow.append(prodId, prodCat, prodBrand, prodName, prodColor, prodSize, prodRam, prodPrice, prodSell, prodInstock, prodDes, action);
                        table.row.add(newRow).draw();
                        $("#editModal").modal("hide");
                        Swal.fire('Thông báo', "Tạo mới thành công sản phẩm ID = " + product["productId"], 'success');
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        Swal.fire('Thông báo', "Có lỗi xảy ra", 'error');
                    }
                });
            }
        }

        function hideProduct(prodId){
            var actionActive = $("#hide-prod-" + prodId).attr("hide-value") == 0 ? false : true;
            var param = { prodId: prodId};
            if(!actionActive){
                $.ajax({
                    url: 'http://localhost:5216/api/Products/CheckProduct',
                    method: 'get',
                    dataType: 'json',
                    data: param,
                    headers: { "Authorization": "Bearer " + '@token' },
                    success: function (count) {
                        if (count > 0) {
                            Swal.fire({
                                title: 'Sản phẩm này đã được review bạn có muốn ẩn không?',
                                showCancelButton: true,
                                confirmButtonText: 'Yes',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    handleHideProd(prodId);
                                }
                            })
                        } else {
                            handleHideProd(prodId)
                        }
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }else{
                handleHideProd(prodId);
            }                     
        }

        function handleHideProd(prodId) {
            var actionActive = $("#hide-prod-" + prodId).attr("hide-value") == 0 ? false : true;
            var param = { ProductId: prodId, IsActive: actionActive };
            $.ajax({
                url: 'http://localhost:5216/api/Products/Hide',
                method: 'post',
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(param),
                headers: { "Authorization": "Bearer " + '@token' },
                success: function (prod) {
                    var active = prod["isActive"];
                    if (active == true) {
                        $("#hide-prod-" + prodId).attr("hide-value", "0");
                        $("#hide-prod-" + prodId).text("Hide");
                    }else{
                        $("#hide-prod-" + prodId).attr("hide-value", "1");
                        $("#hide-prod-" + prodId).text("Active");
                    }
                },
                error: function (xhr, status, error) {
                }
            });
        }

        function validateProd(prodId){
            if ($("#update-prod-name").val() == "") {
                Swal.fire('Thông báo', "Vui lòng nhập tên sản phẩm", 'error');
                return false;
            }

            if(prodId == 0){
                if ($("#add-price").val() == "") {
                    Swal.fire('Thông báo', "Vui lòng nhập giá nhập kho", 'error');
                    return false;
                }
            }

            if ($("#update-sellprice").val() == "") {
                Swal.fire('Thông báo', "Vui lòng nhập giá bán", 'error');
                return false;
            }
            if ($("#update-instock").val() == "") {
                Swal.fire('Thông báo', "Vui lòng nhập số lượng trong kho", 'error');
                 return false;
            }
            if ($("#update-des").val() == "") {
                Swal.fire('Thông báo', "Vui lòng nhập mô tả sản phẩm", 'error');
                return false;
            }
            return true;
        }

    </script>
</body>

</html>