@using WebAPI_Project_PRN231.DTO;
@model List<ReviewDTO>
@{
    Layout = "";
    string token = Context.Session.GetString("token");
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .select-filter{
           margin-bottom: 20px;
           height: 40px;
            border: 1px solid #e3e6f0;
            border-radius: 5px;
        }

        .select-filter:focus {
                border-color: #542ded;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin <sup>Quang Trần</sup></div>
            </a>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Dashboard
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="/Management/Review">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Review Management</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/Management/Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Product Management</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div style="display:flex; align-items:center">
                            <a href="/Home/Index" style="font-size: 18px; font-weight: bold;">Trang Review Sản phẩm</a>
                        </div>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #3d414f; border-radius: 50px;">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color: #ffbaba !important">Douglas McGee</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/User/Logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Review List</h6>
                        </div>
                        <div class="card-body">                          
                            <div class="table-responsive">
                                <select class="form-select select-filter" id="selectReview" onchange="selectFilter()">
                                    <option value="0" selected>Choose filter with OData</option>
                                    <option value="1">Top5</option>
                                    <option value="2">Review actived</option>
                                    <option value="3">Review inactived</option>
                                </select>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>UserName</th>
                                            <th>ProductID</th>
                                            <th>Date</th>
                                            <th>Rating</th>
                                            <th>Content</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ReviewId</td>
                                                <td>@item.User.Username</td>
                                                <td>@item.ProductId</td>
                                                <td>@item.ReviewDate</td>
                                                <td>@item.Rating</td>
                                                <td>@item.Content</td>
                                                <td>
                                                    <a href="javascript:void(0)">@(item.IsActive == false ? "Active" : "Inactive")</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/User/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/moment.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/datatables-demo.js"></script>
    <script>
        function selectFilter(){
            var url = "http://localhost:5216/api/Review/GetAll";
            var option = $("#selectReview").val();
            if(option == 0){
                $.ajax({
                    url: url,
                    method: 'get',
                    dataType: 'json',
                    headers: { "Authorization": "Bearer " + '@token' },
                    success: function (listReview) {
                        var table = $("#dataTable").DataTable();
                        table.rows().remove().draw();
                        $.each(listReview, function (index, review) {
                            var newRow = $('<tr>');
                            var reviewId = $('<td>').text(review["reviewId"])
                            var userName = $('<td>').text(review["user"].username);
                            var prodId = $('<td>').text(review["productId"]);
                            var date = $('<td>').text(moment(new Date(review["reviewDate"])).format("DD/MM/yyyy HH:MM:ss"));
                            var rating = $('<td>').text(review["rating"]);
                            var content = $('<td>').text(review["content"]);
                            var action = $('<td>').append('<a href="javascript:void(0)">' + (review["isActive"] == true ? "Inactive" : "Active") + '</a>')
                            newRow.append(reviewId, userName, prodId, date, rating, content, action)
                            table.row.add(newRow).draw();
                        });
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
            if(option == 1){
                $.ajax({
                    url: url+'?$top=5',
                    method: 'get',
                    dataType: 'json',
                    headers: { "Authorization": "Bearer " + '@token' },
                    success: function (listReview) {
                        var table = $("#dataTable").DataTable();
                        table.rows().remove().draw();
                        $.each(listReview, function (index, review) {
                            var newRow = $('<tr>');
                            var reviewId = $('<td>').text(review["reviewId"])
                            var userName = $('<td>').text(review["user"].username);
                            var prodId = $('<td>').text(review["productId"]);
                            var date = $('<td>').text(moment(new Date(review["reviewDate"])).format("DD/MM/yyyy HH:MM:ss"));
                            var rating = $('<td>').text(review["rating"]);
                            var content = $('<td>').text(review["content"]);
                            var action = $('<td>').append('<a href="javascript:void(0)">' + (review["isActive"] == true ? "Inactive" : "Active") + '</a>')
                            newRow.append(reviewId, userName, prodId, date, rating, content, action)
                            table.row.add(newRow).draw();
                        });
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
            if (option == 2) {
                $.ajax({
                    url: url + '?$filter=IsActive eq true',
                    method: 'get',
                    dataType: 'json',
                    headers: { "Authorization": "Bearer " + '@token' },
                    success: function (listReview) {
                        var table = $("#dataTable").DataTable();
                        table.rows().remove().draw();
                        $.each(listReview, function (index, review) {
                            var newRow = $('<tr>');
                            var reviewId = $('<td>').text(review["reviewId"])
                            var userName = $('<td>').text(review["user"].username);
                            var prodId = $('<td>').text(review["productId"]);
                            var date = $('<td>').text(moment(new Date(review["reviewDate"])).format("DD/MM/yyyy HH:MM:ss"));
                            var rating = $('<td>').text(review["rating"]);
                            var content = $('<td>').text(review["content"]);
                            var action = $('<td>').append('<a href="javascript:void(0)">Inactive</a>')
                            newRow.append(reviewId, userName, prodId, date, rating, content, action)
                            table.row.add(newRow).draw();
                        });
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
            if (option == 3) {
                $.ajax({
                    url: url + '?$filter=IsActive eq false',
                    method: 'get',
                    dataType: 'json',
                    headers: { "Authorization": "Bearer " + '@token' },
                    success: function (listReview) {
                        var table = $("#dataTable").DataTable();
                        table.rows().remove().draw();
                        $.each(listReview, function (index, review) {
                            var newRow = $('<tr>');
                            var reviewId = $('<td>').text(review["reviewId"])
                            var userName = $('<td>').text(review["user"].username);
                            var prodId = $('<td>').text(review["productId"]);
                            var date = $('<td>').text(moment(new Date(review["reviewDate"])).format("DD/MM/yyyy HH:MM:ss"));
                            var rating = $('<td>').text(review["rating"]);
                            var content = $('<td>').text(review["content"]);
                            var action = $('<td>').append('<a href="javascript:void(0)">Active</a>')
                            newRow.append(reviewId, userName, prodId, date, rating, content, action)
                            table.row.add(newRow).draw();
                        });
                    },
                    error: function (xhr, status, error) {
                    }
                });
            }
        }
    </script>
</body>

</html>