@using WebAPI_Project_PRN231.DTO;
@model List<ReviewDTO>

<div class="reviews-comment">
    <ul class="comment-items">
        @foreach (var review in Model)
        {
            <li>
                <div class="single-review-comment">
                    <div class="comment-user-info">
                        <div class="comment-author">
                            <img src="/assets/images/review/author-1.jpg" alt="">
                        </div>
                        <div class="comment-content">
                            <h6 class="name">@review.User.Username</h6>

                            <p>
                                <i class="mdi mdi-star"></i>
                                <span class="rating"><strong>@review.Rating</strong> of 5</span>
                                <span class="date">@review.ReviewDate.Value.ToString("dd/MM/yyy HH:mm:ss")</span>
                            </p>
                        </div>
                    </div>
                    <div class="comment-user-text">
                        <p>
                            @review.Content
                        </p>
                        <ul class="comment-meta">
                            <li><a href="javascript:void(0)" onclick="replyReview(@(review.ReviewId),1)">Reply</a></li>
                        </ul>
                    </div>
                </div>

                <div id="replyReview@(review.ReviewId)" class="rating-form" style="display: none">
                    <div class="single-form form-default">
                        <label>Write your Comment</label>
                        <div class="form-input">
                            <textarea placeholder="Your comment here" id="contentCmt@(review.ReviewId)"></textarea>
                            <i class="mdi mdi-message-text-outline"></i>
                        </div>
                    </div>
                    <div class="single-rating-form flex-wrap">
                        <div class="rating-form-btn">
                            <button class="main-btn primary-btn" onclick="sendReply(@(review.ReviewId), @(review.UserId),2)">Send</button>
                            <button class="main-btn primary-btn" style="background: red" onclick="closeReply(@(review.ReviewId))">Close</button>
                        </div>
                    </div>
                </div>

                <ul class="comment-replay" id="commentByReview@(review.ReviewId)">
                    @foreach (var comment in review.Comments)
                    {
                        <li>
                            <div class="single-review-comment">
                                <div class="comment-user-info">
                                    <div class="comment-author">
                                        <img src="/assets/images/review/author-2.jpg" alt="">
                                    </div>
                                    <div class="comment-content">
                                        <h6 class="name">@comment.User.Username</h6>

                                        <p>
                                            <span class="date">@comment.CommentDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-user-text">
                                    <p>
                                        @comment.Comment1
                                    </p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @if (review.Comments.Count() == 3 && review.Comments.Count() < review.totalComment)
                {
                    <div style="padding: 10px 0px 0px 50px">
                        <a href="#" onclick="viewComment(@review.ReviewId)" view-type="0" id="showComment@(review.ReviewId)">Hiển thị tất cả bình luận</a>
                    </div>
                }

            </li>

        }
    </ul>
</div>

<script>
    function viewComment(reviewId) {
        var typeView = $("#showComment" + reviewId).attr('view-type');
        if (typeView == 0) {
            $("#showComment" + reviewId).attr('view-type', 1);
            $("#showComment" + reviewId).text("Hiển thị ít bình luận")
        } else {
            $("#showComment" + reviewId).attr('view-type', 0);
            $("#showComment" + reviewId).text("Hiển thị tất cả bình luận")
        }
    }

    function replyReview(reviewId, userCmtId) {
        if (userCmtId == 0) {
            window.location.href = "/User/Login";
        } else {
            $("#replyReview" + reviewId).css("display", "block");
        }
    }

    function closeReply(reviewId) {
        $("#replyReview" + reviewId).css("display", "none");
    }

    function sendReply(reviewId, userReviewId, userCmtId) {
        var content = $("#contentCmt" + reviewId).val();
        if (content == "") {
            alert("Vui lòng nhập comment trước khi gửi")
        } else {
            $.ajax({
                url: 'http://localhost:5216/api/Comment/AddComment',
                method: 'GET',
                dataType: 'json',
                data: { reviewId: reviewId, userCmtId: userCmtId, content: content },
                success: function (comment) {
                    var newLiCmt = $(`<li><div class='single-review-comment'>`
                        + `<div class='comment-user-info'>`
                        + `<div class='comment-author'>`
                        + `<img src='/assets/images/review/author-2.jpg' alt = '' >`
                        + `</div>`
                        + `<div class= 'comment-content'>`
                        + `<h6 class="name">` + 123 + `</h6>`
                        + `<p><span class="date" >` + 123 + `</span></p>`
                        + `</div>`
                        + `</div>`
                        + `<div class= "comment-user-text" >`
                        + `<p>` + 123 + `</p>`
                        + `</div>`
                        + `</div>`
                        + `</li>`);
                    $('#commentByReview' + reviewId).prepend(newLiCmt);
                    closeReply(reviewId);
                    var date = comment["commentDate"];
                    var currentVal = new Date(date);
                    console.log(currentVal.toString("dd/MM/yyyy");
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    }
</script>